html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,
a:link,
a:checked,
a:visited {
  text-decoration: none;
  color: black;
}
body {
  line-height: 1.2;
  font-size: 1.2rem;
  background-color: white;
}
header {
  height: 3rem;
  display: flex;
  justify-content: space-between;
}
.header__icon {
  height: 1.5rem;
  width: auto;
}
header > nav {
  display: flex;
  gap: 1.5rem;
}
header > div {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 1rem 2rem;
  background-color: lightblue;
}

header > nav > div {
  padding: 0.5rem;
  background-color: lightblue;
}
.banner__first > div {

}
header > nav > div:nth-child(3) {
  background-color: rgb(38, 26, 26);
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

header > nav > a {
  background-color: rgb(193, 95, 60);
  border-radius: 1rem;
  padding: 0.2rem 1.5rem;
  align-self: center;
}

.nav__button {
  border: none;
  background-color: transparent;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

main {
  background-color: skyblue;
}

.banner {
  display: flex;
  height: 30rem;
  align-items: stretch;
  justify-content: flex-start;
}

.banner > aside {
  /* flex-grow: 1; */
  width: 50%;
}
.banner > .banner__second {
  align-self: flex-start;
  height: 90%;
  background-image: url("images/hearts.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner__first {
  position: relative;
  background-color: white;
}
.banner__first > div {
  width: 20rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner__first > div > a {
  display: inline-block;
  background-color: rgb(38, 26, 26);
  border-radius: 1rem;
  color: white;
  font-size: 0.8rem;
  padding: 0.2rem 1.5rem;
  align-self: center;
  margin-bottom: 0.3rem;
}
h1 {
  font-size: 3rem;
  margin-bottom: 0.3rem;
}
p {
  font-size: 1rem;
  margin-bottom: 0.3rem;
}

.product {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
}
.product__title h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  text-align: center;
}
.product__title p {
  font-size: 1rem;
  max-width: 25rem;
  text-align: center;
}
.product__item {
  display: flex;
  gap: 3rem;
}
.product__item_value {
  display: flex;
  flex-direction: column;
  width: 15rem;
  gap: 1.5rem;
}
.product__item_value > img {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  object-position: center;
}

.product__item_value > h5 {
  font-size: 1rem;
  text-align: center;
}
.product__item_value > p {
  font-size: 1rem;
  text-align: center;
}

.meditate {
  display: flex;
  height: 30rem;
  align-items: stretch;
  justify-content: flex-start;
}

.meditate > aside:nth-child(1) {
  width: 40%;
}
.meditate > aside:nth-child(2) {
  flex: 1;
}
.meditate > .meditate__second {
  background-image: url("images/hearts.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.meditate__first {
  position: relative;
  background-color: white;
}
.meditate__first > div {
  width: 20rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.meditate__first > div > a {
  display: inline-block;
  background-color: rgb(38, 26, 26);
  border-radius: 1rem;
  color: white;
  font-size: 0.8rem;
  padding: 0.2rem 1.5rem;
  align-self: center;
  margin-bottom: 0.3rem;
}

.meditate__first_scale {
  transform: scale(1.2);
  position: relative;
  background-color: white;
}

.meditate__first_scale > div {
  width: 20rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.meditate__first_scale > div > a {
  display: inline-block;
  background-color: rgb(38, 26, 26);
  border-radius: 1rem;
  color: white;
  font-size: 0.8rem;
  padding: 0.2rem 1.5rem;
  align-self: center;
  margin-bottom: 0.3rem;
}

.animate {
  transform: translateX(0);
  animation: leftRight 5s linear infinite;
}
@keyframes leftRight {
  0% {
    transform: translateX(-50px);
  }
  50% {
    transform: translateX(0);
  }
}
