body {
    font-size: 16px;
}

#site-header {

background-image:  url(./images/hero_1.jpg);
background-size: 100%;
background-repeat: no-repeat;
background-position: top left;
background-blend-mode: darken;
background-color: rgba(0,0,0,0.7);

height: 100vh;
color: white;
font-family: sans-serif;
display: flex;
flex-direction: column;
padding: 1.5rem 0px;
/* position: relative; */
}

/* #site-header:before {
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid red;
    content: "hellow worls";
    background-color: #343a40;
    opacity: 0.9;

    position: absolute;
    top: 0px;
    left: 10px;
} */

#site-header__top {
display: flex;
align-items: center;
justify-content: space-between;
z-index: 999;
}

#site-header__bottom {
    display: flex;
    flex-direction: column;
z-index: 999;
}

#hero-content {
    margin: 0px auto;
    width: 423px;
}

#signup-form {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;

    margin: 0px auto;
    width: 505px;
}

.logo {
    font-weight: 700;
    font-size: 24px;
}
#mobile-nav {
    display: none;

}
#non-mobile-nav {
    display: none;
}

button {
    padding: 16px 48px;
    height: auto;
    display: inline-flex;
}

.btn-transparent {
    background-color: transparent;
    border: none;
}

.btn-purple {
    background-color: purple;
    color: white;
    border: none;
}

.menu-icon {
    font-size: 48px;
}

.hidden-mobile {
    display: none;
}

/* tablet */
@media (min-width: 770px) {

#signup-form {
    width: 609px;
}

#hero-content {
width: 690px;
}


}


/* non mobile */
@media (min-width: 1024px) {

    #site-header__bottom {
        flex-direction: row;
    }

}